.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(100px,auto) repeat(5,100px); 
}
button{
    cursor: pointer;
    border-radius: 10px;
    border-color: aliceblue;
    background-color: #ffB6C1;
    font-size: 2em;
}
button:hover{
    background-color: seashell;
}
.equals,.clear{
    grid-column: span 2;
}

input{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgb(224, 148, 243);
    padding-right: 30px;
    font-size: 3em;

}

.clear{
    background-color: rgb(241, 56, 118);
}
.equals{
    background-color: rgb(124, 124, 250);
}